input[type=text], input[type=password] , input[type=number] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display:block;
    margin: 0 auto;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    display:block;
    margin: 0 auto;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.location {
   width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display:block;
    margin: 0 auto;
}
